<?xml version="1.0" encoding="UTF-8" ?>
<widget xmlns   = "http://www.w3.org/ns/widgets"
    xmlns:gap   = "http://phonegap.com/ns/1.0"
    id          = "io.phenomen.github/dnd5ru/"
    versionCode = "10"
    version     = "1.0.0">

<name>ТЕСТ. DnD5e Справочник</name>

<description>
    Справочник по механике днд5
</description>

<author>Tadapp</author>

<plugin name='cordova-plugin-splashscreen' />
<plugin name='cordova-plugin-inappbrowser' />

<preference name='phonegap-version' value='cli-8.0.0' />

<preference name='orientation' value='portrait' />

<gap:plugin name='onesignal-cordova-plugin' spec='2.4.5' source='npm' />

<preference name='windows-appx-target' value='8.1-win' />

<preference name='phonegap-version' value='cli-8.0.0' />

<preference name='android-build-tool' value='gradle' />
<preference name="android-targetSdkVersion" value="28" />
<preference name='orientation' value='portrait' />

<preference name='windows-appx-target' value='8.1-phone' />
<preference name='WindowsToastCapable' value='true' />

<preference name="SplashMaintainAspectRatio" value="true" />
<preference name="SplashScreenSpinnerColor" value="#007BFF" />


<platform name="android">
    <icon src="res/android/icon/f64677454818c00e27fdbd0e4590e602.png" density="ldpi" />
    <icon src="res/android/icon/616ce8c6892da45c9bb4416562080661.png" density="mdpi" />
    <icon src="res/android/icon/07c169441a362e99ef563468040531bb.png" density="hdpi" />
    <icon src="res/android/icon/579f56f086b9041f8f5bf6fcac24fbce.png" density="xhdpi" />
    <icon src="res/android/icon/980024a4634012fe1a38af868ef02b75.png" density="xxhdpi" />
    <icon src="res/android/icon/f05b033a63ee26f9eae94c9c4f67fe95.png" density="xxxhdpi" />

    <splash src="res/android/screen/c0a96c5d6ddce3dcd69f36b2caa55615.png" density="port-hdpi"/>
    <splash src="res/android/screen/48ccaabb2888e84ee12b0886eca6168f.png" density="port-ldpi"/>
    <splash src="res/android/screen/860e781a8af66717d4e415c22203c476.png" density="port-mdpi"/>
    <splash src="res/android/screen/e8ee78087a6b0fcfd017bb81a6807f81.png" density="port-xhdpi"/>
</platform>

<platform name="ios">
	<icon src="res/ios/icon/1644004c1697c3ff3010fea3fb4a45b4.png" width="180" height="180" />
	<icon src="res/ios/icon/435cf1321fe52a7bc245580d12fd967d.png" width="60" height="60" />
	<icon src="res/ios/icon/46b45ba023874f7c03bd1659d969e625.png" width="120" height="120" />
	<icon src="res/ios/icon/6e0d2ffdd6a4c575148af98c9061df37.png" width="76" height="76" />
	<icon src="res/ios/icon/2eec15955132b21b5730153cb0fbdd4c.png" width="152" height="152" />
	<icon src="res/ios/icon/be51ee4e6a56b9b9adaeab0ac33061b2.png" width="57" height="57" />
	<icon src="res/ios/icon/64ec577c84a7495bb2ff046e611e2c8a.png" width="114" height="114" />
	<icon src="res/ios/icon/ba5873908f67529acce87be650bf23a9.png" width="72" height="72" />
	<icon src="res/ios/icon/248f2df532caebe009613624704f4395.png" width="144" height="144" />
	<icon src="res/ios/icon/f582daea86b29db22946c1a9779b94cc.png" width="167" height="167" />
	<icon src="res/ios/icon/c010f1dc2b3ebbb91a78a8b56c381791.png" width="29" height="29" />
	<icon src="res/ios/icon/8392e07d548938a73e64bcf8b6f85a25.png" width="58" height="58" />
	<icon src="res/ios/icon/9364741994cb821969b9c3a5394252e4.png" width="87" height="87" />
	<icon src="res/ios/icon/c2394eb3d12fd77f5c231774ccb4fbee.png" width="167" height="167" />

	<splash src="res/ios/screen/5673f2decb66428a42dcb129449e5c57.png" />
    <splash src="res/ios/screen/c2df06d2d501c3bf315cefb5e5b4158c.png" />
    <splash src="res/ios/screen/d530b54347269bfe5f33514f2d2c242b.png" />
    <splash src="res/ios/screen/d661fe347b772ace91f912906b376f4e.png" />
    <splash src="res/ios/screen/9a63bacb71525aae9630342fb5bb5884.png" />
    <splash src="res/ios/screen/093a247af3d281ee5196ff7a66e3804e.png" />
</platform>

<platform name="winphone">
    <icon src="res/windows/icon/8b710c358e56589e3548894518e16750.png" target="StoreLogo" />
    <icon src="res/windows/icon/eda22e4a9fad7b4fa7c74ab4ddc952de.png" target="Square30x30Logo" />
    <icon src="res/windows/icon/346b0101cdde9c5ddb94be226f0f6b0f.png" target="Square44x44Logo" />
    <icon src="res/windows/icon/bedaa6a206913e6c977afe8157101668.png" target="Square70x70Logo" />
    <icon src="res/windows/icon/ad990b9688025a32f383a409a3cfee25.png" target="Square71x71Logo" />
    <icon src="res/windows/icon/76ff0eeac8db7c05f84dcb1da1b4fca7.png" target="Square150x150Logo" />
    <icon src="res/windows/icon/0463a265860efefce6a12172d6d263a0.png" target="Square310x310Logo" />

    <splash src="res/windows/screen/acd9e3a79a6c1f937d3eb392d8ced40d.png" target="SplashScreen"/>
    <splash src="res/windows/screen/9e31fbb2c28a57b2715da31d83051ded.png" target="SplashScreenPhone"/>
</platform>

<access origin='*'/> 
<plugin name='cordova-plugin-whitelist' />
<allow-intent href='http://*/*'/>
<allow-intent href='https://*/*'/>
<allow-intent href='tel:*'/>
<allow-intent href='sms:*'/>
<allow-intent href='mailto:*'/>
<allow-intent href='geo:*'/>

</widget>